<div class="col-3 offset-7 px-1 bg-light position-fixed pt-5 pl-5 pr-4" id="sticky-sidebar">
<div class="text-center mb-5">
      <%= display_follow_btn(@user, 'shared/follow_icon') %>
      
        <%= show_photo(@user, 'side-profile-photo')%>
     
     <div class="user-info">
        <h5 class="mt-2"><%= link_to @user.name, profile_path(@user.username), class: "user-name-p" %> <br><small class="text-gray">@<%= @user.username %></small></h5>
        <div class="stats border-top border-bottom pt-2 pb-2 d-flex flex-row flex-wrap justify-content-around">
            <h5><%= @user.opinions.count %> <br><small>Tweets</small></h5>
            <h5><%= @user.follows.count %> <br><small>Following</small></h5>
            <h5><%= @user.followers.count %><br><small>Followers</small></h5>
        </div>
     </div>
</div>
